@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1rem;
  outline: none;
  color: #1a1a1c;
}

.text-link {
  color: #0017c1;
}
.text-link:hover {
  color: #000082;
}
.c-link {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.bg-secondary {
  background-color: #f3eee5;
}

.text-pc-xl {
  font-size: 1.625rem;
  line-height: 40px;
  letter-spacing: 0.01em;
  font-weight: 700;
}

.max-w-container {
  max-width: 1120px;
}
